@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron jumbotron-fluid text-center shadow">
    <div class="container">
        <h1 class="jumbo-header d-flex justify-content-center">
            Estrella's Elegant Event Managerment
        </h1><!--/jumbo-header-->
    </div><!--/container-->
</div><!--/jumbotron-->

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">

        </div><!--/col-lg-8-->
    </div><!--/row-->
</div><!--/container-fluid-->