body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#button {
    width: 130px;
}

#inputLabel {
    width: 110px;
    margin: 0;
}

.field-validation-error {
    color: #f00000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00000;
    background-color: #f0e0e0;
}

.validation-summary-errors {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.jumbo-header {
    font-size: 125px;
    font-family: 'Copperplate Gothic';
}

.jumbo-text {
    font-size: 25px;
    font-family: 'Copperplate Gothic';
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-item:hover 
{
    background-color: transparent;
    cursor: pointer;
}

#navLogo {
    font-family: 'Copperplate Gothic';
}